<%- include header %>
<form method="post">
    ำรปงร๛ฃบ<input type="text" name="name"/><br />
    รย๋ฃบ  <input type="password" name="password"/><br />
    <input type="submit" value="ตวยผ"/>
</form>
<%- include footer %>